/* 
    Document   : style
    Created on : May 12, 2015, 7:46:55 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.header {
    width: auto;
    height: 200px;
    background: grey;
    border: 1px solid;
}
.footer {
    width: auto;
    height: 200px;
    background: grey;
     border: 1px solid;
     margin-top: 0px;
}
.home {
    width: auto;
    height: 600px;
    background: pink;
     border: 1px solid;
     margin-top: 0px;
}
.menuleft {
       width: 200px;
    height: 600px;
    background: grey;
     border: 1px solid;
     margin-top: 0px;
     margin-left: 0px;
}